<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <ol>
      <li>
        <a href="https://vuejs.org" target="_blank" rel="noopener">Build a Github User Profile Component</a>
      </li>
      <li>
        <a href="https://forum.vuejs.org" target="_blank" rel="noopener">Create a Notification Message Component</a>
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ol {
  list-style-type: none;
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
  text-transform: uppercase;
}
</style>
